In [6]:
import data_21Mar18
import pandas as pd

In [7]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [9]:
def process_cabin(df):
    df['Cabin'] = df['Cabin'].fillna('U')
    return df

In [10]:
train = process_cabin(train)

In [11]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,U,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,U,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,U,S

In [12]:
Tickets = set(train['Ticket'])

In [13]:
Tickets

{'110152',
 '110413',
 '110465',
 '110564',
 '110813',
 '111240',
 '111320',
 '111361',
 '111369',
 '111426',
 '111427',
 '111428',
 '112050',
 '112052',
 '112053',
 '112058',
 '112059',
 '112277',
 '112379',
 '113028',
 '113043',
 '113050',
 '113051',
 '113055',
 '113056',
 '113059',
 '113501',
 '113503',
 '113505',
 '113509',
 '113510',
 '113514',
 '113572',
 '113760',
 '113767',
 '113773',
 '113776',
 '113781',
 '113783',
 '113784',
 '113786',
 '113787',
 '113788',
 '113789',
 '113792',
 '113794',
 '113796',
 '113798',
 '113800',
 '113803',
 '113804',
 '113806',
 '113807',
 '11668',
 '11751',
 '11752',
 '11753',
 '11755',
 '11765',
 '11767',
 '11769',
 '11771',
 '11774',
 '11813',
 '11967',
 '12233',
 '12460',
 '12749',
 '13049',
 '13213',
 '13214',
 '13502',
 '13507',
 '13509',
 '13567',
 '13568',
 '14311',
 '14312',
 '14313',
 '14973',
 '1601',
 '16966',
 '16988',
 '17421',
 '17453',
 '17463',
 '17464',
 '17465',
 '17466',
 '17474',
 '17764',
 '19877',
 '19928',
 '19943',
 '19947',
 '19950',
 '19952',
 '19972',
 '19988',
 '19996',
 '2003',
 '211536',
 '21440',
 '218629',
 '219533',
 '220367',
 '220845',
 '2223',
 '223596',
 '226593',
 '226875',
 '228414',
 '229236',
 '230080',
 '230136',
 '230433',
 '230434',
 '231919',
 '231945',
 '233639',
 '233866',
 '234360',
 '234604',
 '234686',
 '234818',
 '236171',
 '236852',
 '236853',
 '237442',
 '237565',
 '237668',
 '237671',
 '237736',
 '237789',
 '237798',
 '239853',
 '239854',
 '239855',
 '239856',
 '239865',
 '240929',
 '24160',
 '243847',
 '243880',
 '244252',
 '244270',
 '244278',
 '244310',
 '244358',
 '244361',
 '244367',
 '244373',
 '248698',
 '248706',
 '248723',
 '248727',
 '248731',
 '248733',
 '248738',
 '248740',
 '248747',
 '250643',
 '250644',
 '250646',
 '250647',
 '250648',
 '250649',
 '250651',
 '250652',
 '250653',
 '250655',
 '2620',
 '2623',
 '2624',
 '2625',
 '2626',
 '2627',
 '2628',
 '2629',
 '2631',
 '26360',
 '2641',
 '2647',
 '2648',
 '2649',
 '2650',
 '2651',
 '2653',
 '2659',
 '2661',
 '2662',
 '2663',
 '2664',
 '2665',
 '2666',
 '2667',
 '2668',
 '2669',
 '26707',
 '2671',
 '2672',
 '2674',
 '2677',
 '2678',
 '2680',
 '2683',
 '2685',
 '2686',
 '2687',
 '2689',
 '2690',
 '2691',
 '2693',
 '2694',
 '2695',
 '2697',
 '2699',
 '2700',
 '27042',
 '27267',
 '27849',
 '28134',
 '28206',
 '28213',
 '28220',
 '28228',
 '28403',
 '28424',
 '28425',
 '28551',
 '28664',
 '28665',
 '29011',
 '2908',
 '29103',
 '29104',
 '29105',
 '29106',
 '29108',
 '2926',
 '29750',
 '29751',
 '3101264',
 '3101265',
 '3101267',
 '3101276',
 '3101277',
 '3101278',
 '3101281',
 '3101295',
 '3101296',
 '3101298',
 '31027',
 '31028',
 '312991',
 '312992',
 '312993',
 '31418',
 '315037',
 '315082',
 '315084',
 '315086',
 '315088',
 '315089',
 '315090',
 '315093',
 '315094',
 '315096',
 '315097',
 '315098',
 '315151',
 '315153',
 '323592',
 '323951',
 '324669',
 '330877',
 '330909',
 '330919',
 '330923',
 '330931',
 '330932',
 '330935',
 '330958',
 '330959',
 '330979',
 '330980',
 '334912',
 '335097',
 '335677',
 '33638',
 '336439',
 '3411',
 '341826',
 '34218',
 '342826',
 '343095',
 '343120',
 '343275',
 '343276',
 '345364',
 '345572',
 '345763',
 '345764',
 '345765',
 '345767',
 '345769',
 '345770',
 '345773',
 '345774',
 '345777',
 '345778',
 '345779',
 '345780',
 '345781',
 '345783',
 '3460',
 '347054',
 '347060',
 '347061',
 '347062',
 '347063',
 '347064',
 '347067',
 '347068',
 '347069',
 '347071',
 '347073',
 '347074',
 '347076',
 '347077',
 '347078',
 '347080',
 '347081',
 '347082',
 '347083',
 '347085',
 '347087',
 '347088',
 '347089',
 '3474',
 '347464',
 '347466',
 '347468',
 '347470',
 '347742',
 '347743',
 '348121',
 '348123',
 '348124',
 '349201',
 '349203',
 '349204',
 '349205',
 '349206',
 '349207',
 '349208',
 '349209',
 '349210',
 '349212',
 '349213',
 '349214',
 '349215',
 '349216',
 '349217',
 '349218',
 '349219',
 '349221',
 '349222',
 '349223',
 '349224',
 '349225',
 '349227',
 '349228',
 '349231',
 '349233',
 '349234',
 '349236',
 '349237',
 '349239',
 '349240',
 '349241',
 '349242',
 '349243',
 '349244',
 '349245',
 '349246',
 '349247',
 '349248',
 '349249',
 '349251',
 '349252',
 '349253',
 '349254',
 '349256',
 '349257',
 '349909',
 '349910',
 '349912',
 '350025',
 '350026',
 '350029',
 '350034',
 '350035',
 '350036',
 '350042',
 '350043',
 '350046',
 '350047',
 '350048',
 '350050',
 '350052',
 '350060',
 '350404',
 '350406',
 '350407',
 '350417',
 '35273',
 '35281',
 '35851',
 '35852',
 '358585',
 '36209',
 '362316',
 '363291',
 '363294',
 '363592',
 '364498',
 '364499',
 '364500',
 '364506',
 '364511',
 '364512',
 '364516',
 '364846',
 '364848',
 '364849',
 '364850',
 '364851',
 '365222',
 '365226',
 '36568',
 '367226',
 '367228',
 '367229',
 '367230',
 '367231',
 '367232',
 '367655',
 '368323',
 '36864',
 '36865',
 '36866',
 '368703',
 '36928',
 '36947',
 '36963',
 '36967',
 '36973',
 '370129',
 '370365',
 '370369',
 '370370',
 '370371',
 '370372',
 '370373',
 '370375',
 '370376',
 '370377',
 '371060',
 '371110',
 '371362',
 '372622',
 '373450',
 '374746',
 '374887',
 '374910',
 '376564',
 '376566',
 '382649',
 '382651',
 '382652',
 '383121',
 '384461',
 '386525',
 '392091',
 '392092',
 '392096',
 '394140',
 '4133',
 '4134',
 '4135',
 '4136',
 '4137',
 '4138',
 '4579',
 '54636',
 '5727',
 '65303',
 '65304',
 '65306',
 '6563',
 '693',
 '695',
 '7267',
 '7534',
 '7540',
 '7545',
 '7546',
 '7552',
 '7553',
 '7598',
 '8471',
 '8475',
 '9234',
 'A./5. 2152',
 'A./5. 3235',
 'A.5. 11206',
 'A.5. 18509',
 'A/4 45380',
 'A/4 48871',
 'A/4. 20589',
 'A/4. 34244',
 'A/4. 39886',
 'A/5 21171',
 'A/5 21172',
 'A/5 21173',
 'A/5 21174',
 'A/5 2466',
 'A/5 2817',
 'A/5 3536',
 'A/5 3540',
 'A/5 3594',
 'A/5 3902',
 'A/5. 10482',
 'A/5. 13032',
 'A/5. 2151',
 'A/5. 3336',
 'A/5. 3337',
 'A/5. 851',
 'A/S 2816',
 'A4. 54510',
 'C 17369',
 'C 4001',
 'C 7075',
 'C 7076',
 'C 7077',
 'C.A. 17248',
 'C.A. 18723',
 'C.A. 2315',
 'C.A. 24579',
 'C.A. 24580',
 'C.A. 2673',
 'C.A. 29178',
 'C.A. 29395',
 'C.A. 29566',
 'C.A. 31026',
 'C.A. 31921',
 'C.A. 33111',
 'C.A. 33112',
 'C.A. 33595',
 'C.A. 34260',
 'C.A. 34651',
 'C.A. 37671',
 'C.A. 5547',
 'C.A. 6212',
 'C.A./SOTON 34068',
 'CA 2144',
 'CA. 2314',
 'CA. 2343',
 'F.C. 12750',
 'F.C.C. 13528',
 'F.C.C. 13529',
 'F.C.C. 13531',
 'Fa 265302',
 'LINE',
 'P/PP 3381',
 'PC 17318',
 'PC 17473',
 'PC 17474',
 'PC 17475',
 'PC 17476',
 'PC 17477',
 'PC 17482',
 'PC 17483',
 'PC 17485',
 'PC 17558',
 'PC 17569',
 'PC 17572',
 'PC 17582',
 'PC 17585',
 'PC 17590',
 'PC 17592',
 'PC 17593',
 'PC 17595',
 'PC 17596',
 'PC 17597',
 'PC 17599',
 'PC 17600',
 'PC 17601',
 'PC 17603',
 'PC 17604',
 'PC 17605',
 'PC 17608',
 'PC 17609',
 'PC 17610',
 'PC 17611',
 'PC 17612',
 'PC 17754',
 'PC 17755',
 'PC 17756',
 'PC 17757',
 'PC 17758',
 'PC 17759',
 'PC 17760',
 'PC 17761',
 'PP 4348',
 'PP 9549',
 'S.C./A.4. 23567',
 'S.C./PARIS 2079',
 'S.O./P.P. 3',
 'S.O./P.P. 751',
 'S.O.C. 14879',
 'S.O.P. 1166',
 'S.P. 3464',
 'S.W./PP 752',
 'SC 1748',
 'SC/AH 29037',
 'SC/AH 3085',
 'SC/AH Basle 541',
 'SC/PARIS 2131',
 'SC/PARIS 2133',
 'SC/PARIS 2146',
 'SC/PARIS 2149',
 'SC/PARIS 2167',
 'SC/Paris 2123',
 'SC/Paris 2163',
 'SCO/W 1585',
 'SO/C 14885',
 'SOTON/O.Q. 3101305',
 'SOTON/O.Q. 3101306',
 'SOTON/O.Q. 3101307',
 'SOTON/O.Q. 3101310',
 'SOTON/O.Q. 3101311',
 'SOTON/O.Q. 3101312',
 'SOTON/O.Q. 392078',
 'SOTON/O.Q. 392087',
 'SOTON/O2 3101272',
 'SOTON/O2 3101287',
 'SOTON/OQ 3101316',
 'SOTON/OQ 3101317',
 'SOTON/OQ 392076',
 'SOTON/OQ 392082',
 'SOTON/OQ 392086',
 'SOTON/OQ 392089',
 'SOTON/OQ 392090',
 'STON/O 2. 3101269',
 'STON/O 2. 3101273',
 'STON/O 2. 3101274',
 'STON/O 2. 3101275',
 'STON/O 2. 3101280',
 'STON/O 2. 3101285',
 'STON/O 2. 3101286',
 'STON/O 2. 3101288',
 'STON/O 2. 3101289',
 'STON/O 2. 3101292',
 'STON/O 2. 3101293',
 'STON/O 2. 3101294',
 'STON/O2. 3101271',
 'STON/O2. 3101279',
 'STON/O2. 3101282',
 'STON/O2. 3101283',
 'STON/O2. 3101290',
 'SW/PP 751',
 'W./C. 14258',
 'W./C. 14263',
 'W./C. 6607',
 'W./C. 6608',
 'W./C. 6609',
 'W.E.P. 5734',
 'W/C 14208',
 'WE/P 5735'}

In [14]:
train['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [23]:
test['Fare'].describe()['min']

0.0

In [24]:
test['Fare'].describe()['50%']

14.4542

In [28]:
test.sample(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare Quartile
147,1039,3,"Davies, Mr. Evan",male,22.0,0,0,SC/A4 23568,8.0500,NaN,S,2_quartile
181,1073,1,"Compton, Mr. Alexander Taylor Jr",male,37.0,1,1,PC 17756,83.1583,E52,C,4_quartile
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S,3_quartile
67,959,1,"Moore, Mr. Clarence Bloomfield",male,47.0,0,0,113796,42.4000,NaN,S,4_quartile
91,983,3,"Pedersen, Mr. Olaf",male,NaN,0,0,345498,7.7750,NaN,S,1_quartile